.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-track {
  background: #0f1035;
}

.content::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10%;
  border: 1px solid #ffffff;
}
.pg {
  height: 100vh;
  width: 100vw;
}
.gayab {
  display: block;
}
.toggle {
  display: none;
  font-size: 2em;
}

.content {
  width: 100%;
}
.sidebar {
  height: 100%;
  width: 350px;
  
}
.sidefont {
  font-size: 100%;
}
.sideicon {
  font-size: 100%;
}

@media screen and (max-width: 550px) {
  .gayab {
    display: none;
  }
  .toggle {
    display: block;
  }
  .sidebar {
    width: 215px;
    position: fixed;
    z-index: 5;
    box-shadow: 10000px 10000px 0 10000px rgba(0, 0, 0, 0.607)
  }

  .hide {
    /* width: 0; */
    /* visibility: hidden; */
  }
}

@media screen and (max-width: 370px) {
  .gayab {
    display: none;
  }
  .toggle {
    display: block;
  }
  .sidebar {
    position: fixed;
    z-index: 5;
    transition: width 0.5 linear;
    overflow: hidden;
    box-shadow: 10000px 10000px 0 100px rgba(0, 0, 0, 0.607)
  }
  .hide {
    /* width: 0; */
    /* visibility: hidden; */
  }
}
